.p404 {
  .content-404 {
    margin-bottom: rem(100);
    background: url('../img/404.gif');
    width: 100%;
    height: rem(458);
    text-align: center;
  }

  .divider {
    background: url('../img/footer-background.png') center center repeat-x;
    width: 100%;
    height: rem(1);
  }
}