.header {
  position: relative;

  .header-ad {
    border-bottom: rem(1) solid #e1e1e1;
    padding: rem(17 0);
    background: #fafafa;

    .header-ad-970 {
      @extend .center;
      width: rem(970);

      .label {
        margin-bottom: rem(3);
        letter-spacing: rem(1);
        text-transform: uppercase;
        font-size: rem(10);
        color: #aaa;
      }
    }
  }

  .header-content {
    padding: rem(10 0);

    .header-logo {
      width: rem(102);
      padding-right: rem(30);

      .link {
        @extend .sprites-correio-logo-header;
        display: block;
        text-indent: rem(-9999);
      }
    }

    .header-menu {
      .header-menu-list {
        .header-menu-item {
          display: inline-block;
          margin-right: rem(20);

          &:last-child {
            margin-right: 0;
          }

          .link {
            display: block;
            text-transform: uppercase;
            font-size: rem(14);
            color: #666;
          }
        }
      }
    }

    .header-social {
      .header-social-list {
        .header-social-item {
          display: inline-block;
          margin-right: 0.2rem;

          &:last-child {
            margin-right: 0;
          }

          .link {
            &.facebook,
            &.twitter,
            &.youtube {
              display: block;
              text-indent: rem(-9999);
            }
            
            &.facebook {
              @extend .sprites-social-header-facebook;
            }
            
            &.twitter {
              @extend .sprites-social-header-twitter;
            }
            
            &.youtube {
              @extend .sprites-social-header-youtube;
            }
          }
        }
      }
    }

    .header-search-button {
      width: rem(29);
      padding-left: 1.2rem;

      .button {
        background-color: transparent;
        cursor: pointer;
        @extend .sprites-search-button;
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        text-indent: rem(-9999);
      }
    }

    .header-partner {
      width: rem(65);
      padding-left: rem(50);
      text-align: center;

      .label {
        margin-bottom: rem(7);
        letter-spacing: rem(1);
        text-transform: uppercase;
        font-size: rem(12);
        color: #5d5d5d; 
      }

      .icon {
        @extend .sprites-record-logo-header;
        display: block;
        text-indent: rem(-9999);
      }
    }    
  }

  .header-search {
    z-index: 10;
    display: none;
    position: absolute;
    background: #f1f1f1;
    width: 100%;
    height: rem(99);

    .form {
      width: 100%;
      height: 100%;

      .icon-wrap {
        width: rem(50);
        padding-right: rem(25);

        .icon {
          display: block;
          @extend .sprites-search-form-icon;
        }
      }

      .input-wrap {
        .input {
          background: transparent;
          border: none;
          padding: rem(0 40);
          width: 100%;
          height: rem(57);
          border-left: rem(1) solid #666;
          font-family: 'Uni Sans Light';
          font-size: rem(36);
          color: #666;
        }
      }

      .close-wrap {
        width: rem(40);

        .close {
          background-color: transparent;
          @extend .sprites-search-form-close;
          cursor: pointer;
          display: block;
          margin: 0;
          padding: 0;
          text-indent: rem(-9999);
          border: none;
        }
      }
    }
  }

  .header-programs {
    display: none;
    z-index: 9;
    width: 100%;
    padding: rem(35 0);
    position: absolute;
    background: #fafafa;
    .lt-programs-widget {
      .lt-programs-slides {
        .lt-programs-slides-nav {
          &:before {
            background-color: #fafafa;
          }
        }
      }
    }
  }

  .header-program { // only for subsite
    padding-top: rem(1);
    background: url('../img/footer-background.png') top center repeat-x;
    width: 100%;
    max-width: 100%;

    .header-program-content {
      border-bottom-width: rem(2);
      border-bottom-style: solid;
      border-bottom-color: #666;
      position: relative;
      width: 100%;
      max-width: 100%;
      height: rem(382);

      .header-program-logo {
        position: absolute;
        z-index: 1;
        width: inherit;
        height: rem(380);

        .header-program-logo-link {
          position: relative;
          top: rem(212);
          @include border-radius(rem(9999));
          @include box-shadow(rem(0 0 5) rgba(0, 0, 0, 0.4));
          display: block;
          width: rem(268);
          height: rem(268);

          .border {
            top: rem(14);
            left: rem(14);
            display: block;
            position: absolute;
            border-width: rem(2);
            border-style: solid;
            border-color: #666;
            @include border-radius(rem(9999));
            width: rem(240);
            height: rem(240);
          }

          .header-program-logo-image {
            @include border-radius(rem(9999));
            display: block;
            width: inherit;
            height: inherit;
          }
        }
      }

      .header-program-presentation {
        position: relative;
        z-index: 0;
        @extend .center;
        width: 100%;
        overflow-x: hidden;
        max-width: 100%;
        height: rem(380);

        .image {
          @extend .center;
          display: block;
          position: relative;
          width: rem(1920);
          height: rem(380);
        }
      }
    }


    .header-program-menu {
      @include background-image(linear-gradient(to top, #e5e5e5, #f2f2f2));
      width: 100%;
      height: rem(69);

      .header-program-menu-list {
        padding: 0 22rem 0 18.75rem;
        height: inherit;
        text-transform: uppercase;
        font-family: 'Uni Sans Light';
        font-size: rem(14);

        .header-program-menu-item {
          display: inline-block;
          margin-right: rem(35);

          &:last-child {
            margin-right: 0;
          }

          a {
            color: #666;

            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
  }

}