// Wrapper scope
.wrapper {
  @extend .center;

  .section {
    @extend .clearfix;
    margin-bottom: rem($space-vert);
  }

  .content {
    padding-top: rem(70);
  }
}

// Default style for all pages content scope
.content {
  float: left;
}

// Default style of widgets title in wrapper, content or sidebar scopes
.lt-widget-title {
  margin-bottom: rem($space-vert);
  text-transform: uppercase;
  font-family: 'Uni Sans Light';
  font-size: rem($ft-widget-title);
}


// Default style of load more links
.lt-load-more-link {
  @extend .center;
  @extend .col-3;
  @include border-radius(rem(9999));
  display: block;
  padding: rem(15 0);
  border: rem(1) solid #edecec;
  background: #FCFCFC;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Uni Sans Semibold';
  font-size: rem(14);
  color: #aaa;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }

  .icon {
    @extend .sprites-icon-more;
    display: inline-block;
    margin-right: rem(3);
  }
}

// Default style for go back links
.lt-go-back-link {
  @extend .center;
  @extend .col-3;
  @include border-radius(rem(9999));
  display: block;
  padding: rem(15 0);
  border: rem(1) solid #edecec;
  background: #f5f5f5;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Uni Sans Semibold';
  font-size: rem(14);
  color: #aaa;

  .icon {
    @extend .sprites-icon-go-back;
    position: relative;
    top: rem(2);
    display: inline-block;
    margin-right: rem(3);
  }
}

// Default banner
.lt-default-banner {
  background: url('../img/banner-default.jpg') top center repeat-x;
  width: 100%;
  height: rem(383);

  .lt-default-banner-wrap {
    width: inherit;
    height: inherit;

    .icon {
      .icon-wrap {
        @include border-radius(rem(9999));
        margin: 0 auto;
        background: #fff;
        width: rem(268);
        height: rem(268);

        .icon-image {
          @extend .sprites-correio-logo-institutional;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .title {
      text-transform: uppercase;
      text-align: center;
      font-family: 'Uni Sans Light';
      font-size: rem(72);
      color: #fff;

      b {
        font-family: 'Uni Sans Semibold';
      }
    }
  }
}

.lt-form {
  .lt-form-row {
    margin-bottom: rem(20);

    &:last-child {
      margin-bottom: 0;
    }

    .lt-form-label {
      display: block;
      margin-bottom: rem(5);
      text-transform: uppercase;
      letter-spacing: rem(0);
      font-family: 'Uni Sans Semibold';
      font-size: rem(14);
      color: #aaa;
    }

    .lt-form-input {
      @include border-radius(rem(8));
      display: block;
      background: #fafafa;
      border: rem(1) solid #e5e4e4;
      width: 100%;
      padding: rem(10 14);
      font-family: 'Uni Sans Light';
      font-size: rem(16);
      color: #aaa;
    }

    .lt-form-textarea {
      @extend .lt-form-input;
      width: 100%;
      min-height: rem(220);
      -moz-resize: vertical;
      resize: vertical;
    }

    .lt-form-select {
      position: relative;
      width: 100%;
      height: rem(38);

      .current, .list {
        position: absolute;
      }

      &.active {
        .current {
          @include border-radius(rem(8 8 0 0));
          .icon-wrap {
            .icon {
              @extend .sprites-select-arrow-active;
            }
          }
        }

        .list {
          display: block;
        }
      }

      .current {
        @extend .lt-form-input;
        z-index: 1;

        .icon-wrap {
          cursor: pointer;
          padding: rem(0 9);
          border-left: rem(1) solid #e5e4e4;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;

          .icon {
            @extend .sprites-form-select-arrow;
            display: block;
          }
        }
      }

      .list {
        @include border-radius(rem(0 0 8 8));
        display: none;
        width: 100%;
        top: rem(38);
        border: rem(1) solid #e5e4e4;
        border-top: none;
        background: #fafafa;

        .item {
          @extend .lt-form-input;
          @include border-radius(0);
          border: none;
          border-bottom: rem(1) solid #e5e4e4;
          cursor: pointer;

          &:last-child {
            border: none;
            @include border-radius(rem(0 0 8 8));
          }

          &:hover {
            background: #FAFAE7;
          }
        }
      }
    }

    .lt-form-submit {
      float: right;
      @include border-radius(rem(9999));
      @include box-shadow(rem(1 1 1) #e5e5e5);
      margin: 0;
      display: block;
      cursor: pointer;
      padding: rem(10 50);
      border: none;
      text-transform: uppercase;
      font-size: rem(14);
      background: #fafafa;
      color: #aaa;
    }
  }
}

// Default style for labels
.lt-headline-label {
  display: inline-block;
  @include border-radius(rem(4444));
  width: auto;
  max-width: 80%;
  margin-bottom: rem(8);
  padding: rem(5 8);
  letter-spacing: rem(1);
  text-transform: uppercase;
  text-align: center;
  font-family: 'Uni Sans Light';
  font-size: rem(12);
  color: #fff;
}

// Default style for top stories
.lt-top-stories {
  &.receitas {
    .title-wrap {
      @include pie-clearfix;
      margin-bottom: rem($space-vert);

      .title {
        float: left;
        margin-bottom: 0;
        position: relative;
        top: rem(8);
      }

      .form {
        float: right;
        width: rem($col-3);
      }
    }
  }

  .lt-top-stories-content {
    margin-bottom: rem($space-vert);

    .lt-top-stories-list {
      @include pie-clearfix;

      .lt-top-stories-item {
        @extend .col-3;
        margin-bottom: rem(55);
        height:325px;

        &:nth-child(odd) {
          float: left;
        }

        &:nth-child(even) {
          float: right;
        }

        .storie {
          .thumb {
            display: block;
            margin-bottom: rem(8);
            position: relative;

            figure, img {
              display: block;
              margin: 0 auto;   
              text-align: center;
              @include border-radius(rem(8));
            }
          }

          .link {
            .title {
              letter-spacing: rem(1);
              line-height: rem(27);
              font-family: 'Uni Sans Semibold';
              font-size: rem(22);
              color: #aaa;
            }
          }
        }
      }
    }
  }
}

// Default style for top videos
.lt-top-videos {
  .lt-top-videos-content {
    @include pie-clearfix;

    .lt-top-videos-main,
    .lt-top-videos-list {
      @extend .col-3;

      .video {
        .thumb {
          position: relative;
          display: block;

          .icon, .image {
            position: absolute;
            display: block;
          }

          .icon {
            @include opacity(0.8);
            z-index: 1;

            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          .image {
            z-index: 0;

            img {
              display: block;
            }
          }
        }

        .info {
          background: #f1f1f1;
          border-bottom-style: solid;

          .link {
            .lt-headline-label {
              max-width: 80%;
              margin-bottom: rem(10);
            }

            .title {
              color: #aaa;
            }
          }
        }
      }
    }  

    .lt-top-videos-main {
      float: left;

      .video {
        .thumb {
          margin-bottom: rem(5);
          width: rem(360);
          height: rem(310);

          .icon {
            top: rem(90);
            left: rem(115);
            width: rem(130);
            height: rem(130);
          }

          .image {
            img {
              @include border-radius(rem(8 8 0 0));
            }
          }
        }

        .info {
          @include border-radius(rem(0 0 8 8));
          border-bottom-width: rem(3);
          padding: rem(22 13);

          .link {
            .title {
              letter-spacing: rem(1);
              line-height: rem(27);
              font-family: 'Uni Sans Semibold';
              font-size: rem(22);
            }
          }
        }
      }
    }

    .lt-top-videos-list {
      float: right;

      .lt-top-videos-item {
        margin-bottom: rem(26);

        &:last-child {
          margin-bottom: 0;
        }

        .video {
          @include pie-clearfix;

          .thumb {
            float: left;
            width: rem(165);
            height: rem(132);

            .icon {
              top: rem(44);
              left: rem(60);
              width: rem(44);
              height: rem(44);
            }

            .image {
              img {
                @include border-radius(rem(8 0 0 8));
              }
            }
          }

          .info {
            @include border-radius(rem(0 8 8 0));
            float: right;
            padding: rem(0 13);
            width: rem(190);
            height: rem(132);
            border-bottom-width: rem(2);

            .link {
              .title {
                letter-spacing: rem(1);
                line-height: rem(17);
                font-family: 'Uni Sans Book';
                font-size: rem(12);
              }
            }
          }
        }
      }
    }
  }
}

// Default style for top receitas
.lt-top-receitas {
  .lt-top-receitas-content {
    @include pie-clearfix;

    .lt-top-receitas-main,
    .lt-top-receitas-list {
      @extend .col-3;

      .receita {
        .thumb {
          display: block;

          .image { // figure
            display: block;

            img {
              display: block;
            }
          }
        }

        .info {
          background: #f1f1f1;
          border-bottom-style: solid;

          .link {
            .lt-headline-label {
              margin-bottom: rem(10);
            }

            .title {
              color: #aaa;
            }
          }
        }
      }
    }

    .lt-top-receitas-main {
      float: left;

      .receita {
        .thumb {
          margin-bottom: rem(5);
          width: rem(360);
          height: rem(310);

          .image {
            img {
              @include border-radius(rem(8 8 0 0));
            }
          }
        }

        .info {
          @include border-radius(rem(0 0 8 8));
          border-bottom-width: rem(3);
          padding: rem(22 13);

          .link {
            .title {
              letter-spacing: rem(1);
              line-height: rem(27);
              font-family: 'Uni Sans Semibold';
              font-size: rem(22);
            }
          }
        }
      }
    }

    .lt-top-receitas-list {
      float: right;

      .lt-top-receitas-item {
        margin-bottom: rem(16);

        &:last-child {
          margin-bottom: 0;
        }

        .receita {
          @include pie-clearfix;

          .thumb {
            float: left;
            width: rem(165);
            height: rem(216);

            .image {
              img {
                @include border-radius(rem(8 0 0 8));
              }
            }
          }

          .info {
            @include border-radius(rem(0 8 8 0));
            float: right;
            padding: rem(0 13);
            width: rem(190);
            height: rem(216);
            border-bottom-width: rem(2);

            .link {
              .title {
                letter-spacing: rem(1);
                line-height: rem(17);
                font-family: 'Uni Sans Book';
                font-size: rem(12);
              }
            }
          }
        }
      }
    }
  }
}

.lt-map {
  
  .lt-map-content {
    margin-bottom: rem($space-vert);

    .map-image {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .lt-map-info {
    .lt-map-info-row {
      @include pie-clearfix;
      margin-bottom: rem(30);

      &:last-child {
        margin-bottom: 0;
      }

      .icon, .info-wrapper {
        float: left;
      }

      .icon {
        @include border-radius(rem(9999));
        display: block;
        margin-right: rem(20);
        width: rem(33);
        height: rem(33);
        background: #aaa;
      }

      .info-wrapper {
        width: 95%;
        text-transform: uppercase;

        .description {
          position: relative;
          top: rem(8);
          font-size: rem(18);
        }

        .table {
          width: 100%;

          .table-head {
            .table-head-line {
              .table-head-column {
                border-top: rem(1) solid #eb1d47;
                border-bottom: rem(1) solid #eb1d47;
                padding: rem(10);
                font-size: rem(18);
                color: #aaa;

                &:nth-child(odd) {
                  background: #f9f9f9;
                }

                &.a {
                  width: 27%;
                }

                &.b {
                  width: 15%;
                }
              }
            }
          }
          .table-body {
            .table-body-line {
              &:first-child {
                .table-body-column {
                  padding-top: rem(10);
                }
              }

              &:last-child {
                .table-body-column {
                  padding-bottom: rem(10);
                  border-bottom: rem(1) solid #eb1d47;
                }
              }

              .table-body-column {
                border-right: rem(1) solid #eb1d47;
                padding: rem(3 10);
                font-size: rem(14);

                &:last-child {
                  border-right: none;
                }                
              }
            }
          }
        }
      }
    }
  }

}

.lt-post {
  letter-spacing: rem(0);
  line-height: rem(21);
  font-size: rem(16);
  color: #666;

  &.about {
    .lt-post-head {
      margin-bottom: rem(20);

      .title {
        margin-bottom: 0;
        font-size: rem(24);
      }
    }
  }

  &.mensagem {
    .lt-post-head {
      .title {
        margin-bottom: rem(25);
      }
    }
  }

  .lt-post-head {
    margin-bottom: rem($space-vert);

    .time {
      display: block;
      margin-bottom: rem(15);

      .icon {
        padding-right: rem(10);
        width: rem(31);
        height: rem(31);

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    .title {
      margin-bottom: rem(10);
      text-transform: uppercase;
      line-height: rem(41);
      font-size: rem(36);
    }

    .subtitle {
      margin-bottom: rem($space-vert);
      line-height: rem(31);
      font-size: rem(26);
    }

    .share {
      border-top: rem(1) solid #ddd;
      border-bottom: rem(1) solid #ddd;
      padding: rem(12 0);

      .list {
        width: rem(140);

        .item {
          float: left;
          margin-right: rem(15);

          &:last-child {
            margin-right: 0;
          }

          .link {
            display: block;

            .icon {
              @include border-radius(rem(9999));
              display: block;
              text-align: center;
              border: rem(3) solid #cdcdcd;
              width: rem(35);
              height: rem(35);

              &.facebook,
              &.twitter,
              &.whatsapp {
                display: inline-block;

                img {
                  position: relative;
                }
              }
                
              &.facebook {
                img {
                  top: rem(5);
                  width: rem(8);
                  height: rem(18);
                }
              }

              &.twitter {
                img {
                  top: rem(6);
                  width: rem(18);
                  height: rem(15);
                }
              }

              &.whatsapp {
                img {
                  top: rem(4);
                  width: rem(19);
                  height: rem(19);
                }
              }
            }
          }
        }
      }

      .author {
        padding-left: rem(15);
        font-size: rem(18);
      }
    }
  }

  .lt-post-body {
    line-height: rem(24);

    p, ul, ol {
      margin-bottom: rem($space-vert);

      a{
        color:#F37C09;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    blockquote>p>a{
      color:#F37C09;
    }

    // Lists
    ul, ol {
      margin-left: rem(35);
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    // Images
    img {
      @include border-radius(rem(8));
      display: block;
    }
  }
}

// Style for programs slides widget in wrapper scope
.lt-programs-widget {
  width: 100%;

  .lt-programs-slides {
    @extend .clearfix;
    
    .lt-programs-slides-nav {
      @include border-radius(rem(9999));
      cursor: pointer;
      position: relative;
      top: rem(38);
      float: left;
      width: rem(174);
      height: rem(96);
      background: #f1f1f1;
      display: block;
      margin: 0;
      padding: 0;
      border: none;

      &:before {
          @include border-radius(rem(9999));
          content: " ";
          width: rem(163);
          height: rem(163);
          display: block;
          background: #fff;
          position: absolute;
          top: rem(-38);
      }

      &:hover {
        background: #cdcdcd;
      }

      .icon {
        display: block;
        text-indent: rem(-9999);
      }

      &.lt-programs-slides-prev {
        margin-right: rem(-87);

        &:before {
          left: 5.5rem;
        }

        .icon {
          @extend .sprites-programs-slides-prev;
          float: left;
          position: relative;
          left: rem(35);
        }
      }

      &.lt-programs-slides-next {
        margin-left: rem(-87);

        &:before {
          left: -5.125rem;
        }

        .icon {
          @extend .sprites-programs-slides-next;
          float: right;
          position: relative;
          right: rem(35);
        }
      }
    }

    .lt-programs-slides-wrap {
      float: left;
      width: rem(965);
      height: rem(206);
      overflow: hidden;
      
      &.lt-programs-slides-wrap-o {
        height: rem(169);
      }

      .lt-programs-slides-list {
        @extend .clearfix;
        position: relative;
        height: rem(206);
      
        &.lt-programs-slides-list-o {
          height: rem(169);
        }

        .lt-programs-slides-item {
          float: left;
          margin-right: rem($space-horz);
          width: rem(169);
          height: rem(206);
          
          &.lt-programs-slides-item-o {
            height: rem(169);
          }

          &:last-child {
            margin-right: 0;
          }

          .lt-programs-slides-link {
            display: block;
            width: rem(169);
            height: rem(206);

            .program {
              position: relative;
              width: rem(169);
              height: rem(206);

              &.program-o {
                height: rem(169);
              }

              .border,
              .border-o,
              .logo,
              .thumb {
                position: absolute;
              }

              .border,
              .border-o {
                @include border-radius(rem(9999));
                z-index: 3;
                border-width: rem(1);
                border-style: solid;
                border-color: #666;
              }

              .border {
                width: rem(86);
                height: rem(86);
                left: rem(42);
                bottom: rem(5);
              }

              .border-o {
                width: rem(159);
                height: rem(159);
                top: rem(5);
                left: rem(5);
              }

              .logo {
                @include border-radius(rem(9999));
                display: block;
                background: #fff;
                z-index: 2;
                left: rem(37);
                bottom: 0;
                border: rem(3) solid #eae9e9;
              }

              .thumb {
                @include border-radius(rem(9999));
                display: block;
                background: #fff;
                z-index: 1;
                border: rem(3) solid #eae9e9;
              }
            }
          }
        }
      }
    }
  }
}