$font-size: 16; // root font-size in px

// Font sizes
$ft-widget-title: 24;
$ft-page-title: 36;

// Default spaces
$space-horz: 30;
$space-vert: 35;

// Grid widths
$col-10: 1140;
$col-7: 750;
$col-3: 360;