.archive {
  .archive-content {
    margin-bottom: rem(30);

    .archive-article {
      padding: rem(0 15);
      margin-bottom: rem(20);

      &.mensagem {
        .archive-info {
          .archive-description {
            .link {
              text-decoration: none;
              line-height: rem(23);
              font-size: rem(18);
              color: #aaa;
            }
          }
        }
      }

      .archive-info {
        @include border-radius(rem(5));
        padding: rem(15);
        background: #fbfbfb;
        border-bottom-width: rem(2);
        border-bottom-style: solid;
        border-bottom-color: #666666;
        width: 100%;
        height: auto;
      }
    }
  }
}