.password {
  .password-modal {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 9999;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;

    &.active {
      display: block;
    }

    .modal-feed {
      @extend .center;
      @include border-radius(rem(15));
      @include box-shadow(rem(0 0 20) rgba(0, 0, 0, 0.5));
      background: #f1f1f1;
      width: rem(460);
      height: rem(310);
      text-align: center;

      .icon {
        margin-bottom: rem(20);
        display: inline-block;

        &.success {
          @extend .sprites-modal-success;
        }

        &.error {
          @extend .sprites-modal-error;
        }
      }

      .message {
        @extend .center;
        max-width: 70%;
        text-transform: uppercase;
        line-height: rem(30);
        font-family: 'Uni Sans Semibold';
        font-size: rem(24);
        color: #aaa;
      }
    }
  }

  .password-form {
    margin-bottom: rem(100);
    background: url('../img/footer-background.png') bottom center repeat-x;
    width: 100%;
    height: rem(471);

    .password-content {
      @extend .center;
      width: rem(550);
      font-family: 'Uni Sans Light';

      .password-title {
        margin-bottom: rem(20);
        text-transform: uppercase;
        font-size: rem(30);
      }

      .password-description {
        margin-bottom: rem(20);
        line-height: rem(23);
        font-size: rem(18);
      }

      .password-input {
        position: relative;

        .icon {
          display: block;
          position: absolute;
          right: rem(20);
        }

        &.success {
          .lt-form-input {
            border-color: #98e389;
          }

          .icon {
            top: rem(12.5555);
            @extend .sprites-input-success;
          }
        }

        &.error {
          .lt-form-input {
            border-color: #ff9c9c;
          }

          .icon {
            top: rem(10.5555);
            @extend .sprites-input-error;
          }
        }
      }
    }
  }
}