.password {

  .password-form {
    margin-bottom: rem(100);
    background: url('../img/footer-background.png') bottom center repeat-x;
    width: 100%;
    height: rem(471);

    .password-content {
      @extend .center;
      width: rem(550);
      font-family: 'Uni Sans Light';

      .password-title {
        margin-bottom: rem(20);
        text-transform: uppercase;
        font-size: rem(30);
      }

      .password-description {
        margin-bottom: rem(20);
        line-height: rem(23);
        font-size: rem(18);
      }

      .password-input {
        position: relative;

        .icon {
          display: block;
          position: absolute;
          right: rem(20);
        }

        &.success {
          .lt-form-input {
            border-color: #98e389;
          }

          .icon {
            top: rem(12.5555);
            @extend .sprites-input-success;
          }
        }

        &.error {
          .lt-form-input {
            border-color: #ff9c9c;
          }

          .icon {
            top: rem(10.5555);
            @extend .sprites-input-error;
          }
        }
      }
    }
  }
}