.password {
  .password-modal {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 9999;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;

    &.active {
      display: block;

      &.success {
        .icon {
          &.success {
            display: inline-block;
          }
        }
      }

      &.error {
        .icon {
          &.error {
            display: inline-block;
          }
        }
      }
    }


    .modal-feed {
      @extend .center;
      @include box-shadow(rem(0 0 20) rgba(0, 0, 0, 0.5));
      background: #f1f1f1;
      width: 100%;
      height: rem(310);
      text-align: center;

      .icon {
        margin-bottom: rem(20);
        display: none;

        &.success {
          width: rem(141);
          height: rem(103);
        }

        &.error {
          width: rem(99);
          height: rem(99);
        }
      }

      .message {
        @extend .center;
        max-width: 70%;
        text-transform: uppercase;
        line-height: rem(30);
        font-family: 'Uni Sans Semibold';
        font-size: rem(24);
        color: #aaa;
      }
    }
  }

  .password-form {
    padding: rem(30 15);
    background: #f7f7f7;
    width: 100%;
    height: absolute;

    .password-content {
      font-family: 'Uni Sans Light';

      .password-title {
        margin-bottom: rem(20);
        text-transform: uppercase;
        font-size: rem(24);
      }

      .password-description {
        margin-bottom: rem(20);
        line-height: rem(23);
        font-size: rem(18);
      }

      .password-input {
        position: relative;

        &.error {
          .icon {
            &.error {
              display: block;
            }
          }
        }

        &.success {
          .icon {
            &.success {
              display: block;
            }
          }
        }

        .icon {
          display: none;
          position: absolute;
          right: rem(20);

          &.error {
            width: rem(19);
            height: rem(20);
          }

          &.success {
            width: rem(23);
            height: rem(16);
          }
        }

        &.success {
          .lt-form-input {
            border-color: #98e389;
          }

          .icon {
            top: rem(12.5555);
            @extend .sprites-input-success;
          }
        }

        &.error {
          .lt-form-input {
            border-color: #ff9c9c;
          }

          .icon {
            top: rem(10.5555);
            @extend .sprites-input-error;
          }
        }
      }
    }
  }
}