.sidebar {
  .sidebar-widget {
    &.programming-widget {
      .programming-title {
        margin-bottom: 0;
        padding: rem(20 15);
        background: #f1f1f1;
        font-size: rem(20);
      }

      .programming-body {
        padding: rem(30 15);
        background: #fbfbfb;
        border-top: none;
        text-transform: uppercase;
        color: #aaa;

        .programming-list {
          margin-bottom: rem(30);

          .programming-item {
            margin-bottom: rem(2);

            &:last-child {
              margin-bottom: 0;
            }

            .program {
              .hour {
                font-family: 'Uni Sans Semibold';
                font-size: rem(14);
              }

              &.on-air {
                @extend .clearfix;
                padding: rem(0 15);
                margin-bottom: rem(30);

                .hour, .link {
                  display: block;
                  float: left;
                }

                .hour {
                  width: rem(52);
                  margin-right: rem($space-horz);
                  height: rem(175);
                  text-align: center;
                  font-size: rem(14);

                  .label, .value {
                    width: 100%;
                  }

                  .label {
                    @include border-radius(rem(7 7 0 0));
                    height: rem(75);
                    word-spacing: rem(-2);
                    background: #88d97b;
                    color: #fff;

                    .text {
                      position: relative;
                      top: rem(15);
                    }
                  }

                  .value {
                    @include border-radius(rem(0 0 7 7));
                    height: rem(100);
                    position: relative;
                    background: #f1f1f1;

                    &:before {
                      position: absolute;
                      z-index: 1;
                      top: 0;
                      display: block;
                      content: "";
                      border-top: rem(13) solid #88d97b;
                      border-left: rem(26) solid transparent;
                      border-right: rem(26) solid transparent;
                    }

                    .icon {
                      display: inline-block;
                      margin-bottom: rem(2);
                      @extend .sprites-program-on-air;
                    }
                  }
                }

                .link {
                  float: right;
                  background: url('../img/programming-link-shadow.png') no-repeat rem(28) bottom;
                  position: relative;
                  width: rem(186);
                  height: rem(207);

                  .logo, .thumb {
                    @include border-radius(rem(9999));
                    position: absolute;
                    display: block;
                  }

                  .logo {
                    z-index: 1;
                    left: rem(54);
                    bottom: rem(3);
                  }

                  .thumb {
                    z-index: 0;
                    border-width: rem(8);
                    border-style: solid;
                  }
                }
              }

              &.next {
                @include border-radius(rem(5));
                padding: rem(0 15);
                background: #ececec;
                border-left-width: rem(5);
                border-left-style: solid;
                height: 42px;

                .hour {
                  text-align: left;
                }

                .title {
                  text-align: right;
                  font-size: rem(14);
                }
              }
            }
          }
        }

        .programming-more {
          display: block;
          @include border-radius(rem(9999));
          border: rem(1) solid #edecec;
          padding: rem(15 0);
          background: #f3f3f3;
          font-family: 'Uni Sans Semibold';
          font-size: rem(14);
          text-align: center;
          color: #aaa;
        }
      }
    }
  }
}